 html{
	color:#006600;
 
}
body{
	font-size: 16px;
	padding: 5px;
	height: 999px;
}
.header{
	width: 100%;
	height: 8px;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}
div h2{
	color: #999;
}
#box{
	position: relative;
	z-index: 99999;
	box-sizing: border-box;
	perspective:800PX;
	perspective-origin:16% -90px;

}
.sbox{
	pointer-events:none;
	position: absolute;
	top: -150px;
	left: 150px;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-45deg);	
	animation: hua 6s linear infinite alternate;
}
.sbox>div{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 150px;


}
@keyframes hua{
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-150px);
		} 
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateZ(150px);
	}
}
.sbox .boxtop{
	transform: rotateX(90deg)
				translateZ(75px);
}
.sbox .boxend{
	transform: translateZ(75px);
}
.sbox .boxleft{
	transform: rotateY(90deg) translateZ(75px);

}
.sbox .boxright{
	transform:rotateY(-90deg) translateZ(75px) ;
}
.sbox .boxbottom{
	transform: rotateX(-90deg)
				translateZ(75px);
}
.sbox .boxfornt{
	transform: translateZ(-75px);
}




#bg p{
	color: #666;
	z-index: 999;
	font-size: 150px;
	/*position: relative;*/
	/*left: 20%;*/
	text-align: center;

}
.zhushi p{
	color: #ff9999;
	margin: 0;
	margin-left: 20px;
	font-size: 14px;
}
.after span{
	color: #ff9999;
	font-size: 14px;
	margin-left: 10px;
}
span{
	color: #ff9999;
	font-size: 14px;
	margin-left: 10px;
}
hr{
	color: #ffcccc;
	width: 80%;
}
i{
	display: inline-block;
	width: 20px;
}
#w{
	width: 100px;
	height: 100px;
	background: blue;

}
#w ul{
	text-align: center;
}
#w li{
	list-style: none;
	width: 30px;
	height: 10px;
	background:red;
	display: block;

}

del{
	color: #FF99CC ;
	transform: translate(-50%,-50%);

}
abbr{
	font-size: 24px;
	text-decoration: none;
}

.ul li{
	color: #ff9999;
	font-size: 16px;
}
.load{
	 width: 550px;
	height: 60px;
	/*background: red;*/
	margin: 0;
	padding: 0;

}
.load li{
	width: 20px;
	height: 20px;
	float:left;
	list-style: none;
}
.load li:nth-child(2n){
	background:#FF0066;
}




/*
*,* span,* del{
	color:#00FF00 ;
	background:#000;
}*/


/*.htabs{
	background: url(bj.png) ;
	background-size: 35%;
}*/